html,body{
    background-color:rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(255, 255, 255);
     font-family: "Space Grotesk", sans-serif;
     font-optical-sizing: auto;
     font-weight: <weight>;
     font-style: normal;
}


.main {
    padding: 2rem; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    padding: 2rem;   
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    border: 2px solid rgb(245, 172, 1);
    border-radius: 10px;
}
.boton{
    margin-block: 2rem;
}
a:hover{
    transform: scale(1.1);
    box-shadow: 0 5px 30px rgba(245, 172, 45, 1);
    border: 1px solid rgb(245, 172, 1);
}